@import url(styles/navbar.css);
@import url(styles/cabecalho.css);
@import url(styles/lista.css);
@import url(styles/vagas.css);
@import url(styles/content.css);
@import url(styles/rodape.css);

:root {
  --branco: #ffffff;
  --branco-rodape: #f9fafb;
  --cinza: #667085;
  --cinza-claro: #98a2b3;
  --preto: #101828;
  --vermelho: #8e2424;
  --vermelho-hover: #c41919;
  --degrade: rgba(142, 36, 36, 0.05);
  --fonte: 'Inter';
  --degrade-rosa: rgba(196, 25, 25, 0.03);
}

body {
  background-color: var(--branco);
  font-family: var(--fonte);
  font-weight: 500;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}
