.lista {
  text-align: center;
  align-items: center;
  margin: 3rem 2rem;
}

.lista__item {
  padding: 2rem 0;
}

.lista__titulo {
  font-weight: 600;
  font-size: 24px;
  color: var(--vermelho);
}

.lista__subtitulo {
  font-weight: 500;
  font-size: 18px;
  color: var(--preto);
  padding: 0.5rem;
}

.lista__texto {
  font-weight: 400;
  font-size: 16px;
  color: var(--cinza);
  line-height: 24px;
}

@media screen and (min-width: 1024px) {
  .lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .lista__item {
    padding: 2rem 2rem;
  }

  .lista__titulo {
    font-weight: 500;
    font-size: 50px;
  }

  .lista__subtitulo {
    font-weight: 600;
    font-size: 24px;
    padding: 0.5em;
  }

  .lista__texto {
    font-weight: 400;
    font-size: 20px;
  }
}

@media screen and (min-width: 1728px) {
  .lista {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: initial;
    align-items: center;
    margin-top: 8rem;
  }

  .lista__item {
    padding: 0 3rem;
  }

  .lista__titulo {
    font-weight: 600;
    font-size: 48px;
    color: var(--vermelho);
  }

  .lista__subtitulo {
    text-align: initial;
    font-weight: 500;
    font-size: 28px;
    color: var(--preto);
    padding: 0.8rem 0;
  }

  .lista__texto {
    font-weight: 400;
    font-size: 24px;
    color: var(--cinza);
    line-height: 32px;
  }
}
