.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 0;
}

.navbar__links {
  display: none;
}

button {
  padding: 0.6rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background: none;
  color: var(--cinza);
}

#signUp {
  background-color: var(--vermelho);
  color: var(--branco);
}

@media screen and (min-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 2em 0;
  }

  .navbar__links {
    display: none;
  }

  button {
    font-size: 20px;
    font-weight: 500;
  }

  .navbar__ #signUp {
    padding: 0.5rem 0.5rem;
    border-radius: 0.2rem;
  }
}

@media screen and (min-width: 1728px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 2em;
  }

  .navbar__links {
    display: block;
    margin-right: 12rem;
    font-size: 24px;
  }

  button {
    font-size: 24px;
  }

  a {
    text-decoration: none;
    color: var(--cinza);
    padding: 1em;
  }
}
