header {
  position: fixed;
  height: auto;
  z-index: 100;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--branco-rodape);
  box-shadow: 0px 1px 3px var(--cinza);
}

#menu {
  display: flex;
}

#itens {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1.8rem;
  margin-right: 30rem;
}

a {
  padding: 0.5rem 0;
  margin: 0 1rem;
  position: relative;
  color: var(--cinza);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--preto);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.login {
  font-size: 18px;
  margin: 0.5rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--vermelho);
  color: var(--branco);
  transition: 1s;
}

.login:hover {
  background-color: var(--vermelho-hover);
}

#btn-mobile {
  display: none;
}

@media screen and (max-width: 1005px) {
  header {
    justify-content: space-between;
  }

  #menu {
    box-sizing: border-box;
    width: 50%;
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    text-align: center;
    align-items: flex-end;
    background-color: var(--branco-rodape);
    box-shadow: 0px 0px 3px var(--cinza);
    z-index: 1000;
    visibility: hidden;
    transition: 2s;
  }

  #itens {
    display: block;
    margin-right: 0;
    text-align: center;
  }

  #nav.active #menu {
    display: block;
    visibility: visible;
  }

  #menu a {
    display: block;
    padding: 0.8rem 0;
  }

  .login {
    width: 50%;
  }

  #btn-mobile {
    cursor: pointer;
    display: block;
    background-color: transparent;
    border: none;
  }
}
