.rodape {
  height: auto;
  text-align: center;
  margin-top: 3em;
  padding: 2rem 0.5rem;
  background: var(--branco-rodape);
}

.rodape__titulo {
  font-weight: 500;
  font-size: 20px;
  color: var(--preto);
  padding-top: 2em;
}

.rodape__texto {
  font-weight: 400;
  font-size: 18px;
  color: var(--cinza);
  padding: 1em;
}

.rodape__email {
  font-weight: 400;
  font-size: 16px;
  color: var(--cinza);
  box-sizing: border-box;
  background: var(--branco);
  padding: 0.5em 0.8em;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  margin: 1em 1em;
}

.login-cadastro {
  cursor: pointer;
  font-weight: 300;
  padding: 0.8em 1em;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--vermelho);
  color: var(--branco);
  transition: 1s;
}

.login-cadastro:hover {
  background-color: var(--vermelho-hover);
}

.rodape__direitos {
  font-weight: 400;
  font-size: 14px;
  color: var(--cinza-claro);
  padding: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .rodape__titulo {
    font-size: 32px;
  }

  .rodape__texto {
    font-size: 24px;
  }

  .rodape__email {
    font-size: 18px;
  }
  .login-cadastro {
    padding: 0.7rem 2rem;
    font-size: 16px;
  }
  .rodape__direitos {
    font-size: 18px;
  }
}

@media screen and (min-width: 1600px) {
  .rodape {
    padding: 3em;
  }

  .rodape__titulo {
    font-weight: 600;
    font-size: 32px;
  }

  .rodape__texto {
    font-size: 20px;
    color: var(--cinza);
    padding: 1em;
  }

  .rodape__email {
    font-weight: 400;
    font-size: 16px;
    color: var(--cinza);
    box-sizing: border-box;
    background: var(--branco);
    padding: 0.6em 1em;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    width: 360px;
    height: 48px;
    margin: 1em 1em;
  }

  .rodape__direitos {
    font-weight: 400;
    font-size: 16px;
    color: var(--cinza-claro);
    padding: 1em;
  }
}
