.vagas {
  text-align: center;
  margin: 6em 2em;
}

.vagas__anuncio {
  background-color: var(--degrade);
  color: var(--vermelho);
  font-weight: 500;
  font-size: 14px;
  border-radius: 16px;
  padding: 0.5em 0.2em;
  margin: 0 44%;
}

.vagas__titulo {
  font-weight: 600;
  font-size: 36px;
  padding: 0.6em;
}

.vagas__texto {
  font-weight: 400;
  font-size: 20px;
  color: var(--cinza);
}

.vagas__img {
  padding: 2em 2em;
}

.vagas__descricao {
  display: flex;
}

.Container__profissoes {
  margin: 2rem 16rem;
}

.Container__profissoes-2 {
  margin-top: 8rem;
}

.Profissoes__titulo {
  text-align: initial;
  font-weight: 500;
  font-size: 20px;
  color: var(--preto);
  width: 768px;
  height: 30px;
}

.Profissoes__descricao {
  margin-top: 1em;
  text-align: initial;
  box-sizing: border-box;
  width: 768px;
  height: 136px;
  padding: 24px 24px 28px;
  gap: 24px;
  border: 1px solid #eaecf0;
  border-radius: 16px;
}

.Profissoes__descricao-titulo {
  font-weight: 500;
  font-size: 18px;
  color: var(--preto);
  padding: 1em;
}

.profissões__descricao-conteudo {
  font-weight: 500;
  font-size: 16px;
  color: var(--cinza);
}

span {
  padding: 0.5em;
}
