.vagas {
  text-align: center;
  margin: 2rem 1rem;
}

.vagas__anuncio {
  background-color: var(--degrade);
  color: var(--vermelho);
  font-weight: 500;
  font-size: 14px;
  border-radius: 16px;
  padding: 0.5em 0.2em;
  margin: 0 30%;
}

.vagas__titulo {
  font-weight: 600;
  font-size: 18px;
  padding: 0.8rem;
}

.vagas__texto {
  font-weight: 400;
  font-size: 20px;
  color: var(--cinza);
}

.vagas__img {
  width: 100%;
  padding: 1rem 0;
}

.container__profissoes {
  margin-top: 3rem;
  text-align: center;
}

.container__profissoes-2 {
  margin: 5rem 0;
  text-align: center;
}

.profissoes__titulo {
  text-align: center;
  padding-top: 3rem 0;
  font-weight: 500;
  font-size: 20px;
  color: var(--preto);
}

.profissoes__descricao-titulo {
  font-weight: 500;
  font-size: 18px;
  color: var(--preto);
  padding: 1em 0;
}

.profissoes__descricao {
  margin-top: 1em;
}

.profissoes__descricao-conteudo {
  font-weight: 500;
  font-size: 16px;
  color: var(--cinza);
}

span {
  padding: 0.5em 0;
}

@media screen and (min-width: 1024px) {
  .vagas {
    margin: 6rem 3rem;
  }

  .vagas__anuncio {
    font-weight: 500;
    font-size: 16px;
    margin: 0 40%;
  }

  .vagas__titulo {
    font-size: 32px;
  }

  .vagas__texto {
    font-size: 24px;
  }

  .vagas__img {
    width: 90%;
    height: 50%;
    transition: all 0.5s;
    cursor: pointer;
  }
  .vagas__img:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
  }

  .container__profissoes {
    margin: 2rem 8rem;
  }

  .container__profissoes-2 {
    margin-top: 6rem;
  }

  .profissoes__titulo {
    text-align: initial;
    font-weight: 600;
    font-size: 22px;
  }

  .profissoes__descricao {
    margin-top: 1em;
    text-align: initial;
  }

  .profissoes__descricao-titulo {
    font-weight: 500;
    font-size: 20px;
  }

  .profissoes__descricao-conteudo {
    font-size: 20px;
  }
}

@media screen and (min-width: 1600px) {
  .vagas {
    text-align: center;
    margin: 0 3rem;
  }

  .vagas__anuncio {
    background-color: var(--degrade);
    color: var(--vermelho);
    font-weight: 500;
    font-size: 18px;
    border-radius: 16px;
    padding: 0.5em 0.2em;
    margin: 0 44%;
  }

  .vagas__titulo {
    font-weight: 600;
    font-size: 32px;
    padding-top: 0.5em;
  }

  .vagas__texto {
    padding: 1em;
    font-weight: 400;
    font-size: 20px;
    color: var(--cinza);
  }

  .vagas__descricao {
    display: flex;
  }

  .vagas__img {
    width: 90%;
  }

  .container__profissoes {
    margin: 2rem 8rem;
  }

  .container__profissoes-2 {
    margin-top: 8rem;
  }

  .profissoes__titulo {
    text-align: initial;
    font-weight: 600;
    font-size: 24px;
    color: var(--preto);
    width: 768px;
    height: 30px;
  }

  .profissoes__descricao {
    margin-top: 1em;
    text-align: initial;
    box-sizing: border-box;
    width: 768px;
    height: 136px;
    padding: 24px 24px 28px;
    gap: 24px;
    border: 1px solid #eaecf0;
    border-radius: 16px;
  }

  .profissoes__descricao-titulo {
    font-weight: 600;
    font-size: 20px;
    color: var(--preto);
    padding: 1em;
  }

  .profissoes__descricao-conteudo {
    font-weight: 500;
    font-size: 18px;
    color: var(--cinza);
  }
}
