.vagas {
  text-align: center;
  margin: 6em 2em;
}

.vagas__anuncio {
  background-color: var(--degrade);
  color: var(--vermelho);
  font-weight: 500;
  font-size: 14px;
  border-radius: 16px;
  padding: 0.5em 0.2em;
  margin: 0 44%;
}

.vagas__titulo {
  font-weight: 600;
  font-size: 36px;
  padding: 0.6em;
}

.vagas__texto {
  font-weight: 400;
  font-size: 20px;
  color: var(--cinza);
}

.vagas__img {
  padding: 2em 2em;
}

.vagas__descricao {
  display: flex;
}
